target/
.idea/
*.iml
*.class
*.war

# Course-provided datasets - do not redistribute
movie-data.sql
moviedb_full_backup.sql
createtable.sql

# Local config
.env
**/context-local.xml

# XML parser output artifacts
inconsistencies.txt
movieDB.txt
movieInfo.txt
relationInfo.txt
starInfo.txt
allGenres.txt
genreDB.txt
output.txt
