body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 5%;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: #008000;
    border-bottom: 2px solid dimgrey;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 2px solid dimgrey;
}

h1, h2 {
    text-align: center;
    color: #444;
    margin-top: 45px; /* Add spacing below the header */
    margin-bottom: 20px; /* Optional spacing below the title */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table header styling */
table thead {
    background-color: #008000;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th {
    font-size: 20px;
}

table tbody tr:hover {
    background-color: #d7ecff;
}

/* Table cell styling */
table th {
    padding: 10px;
    text-align: center;
    border: 2px solid #000;
    font-size: larger;
}
